<button type="button" id="ui-show-saved" class="mobile-only" aria-label="Show popup containing saved properties">
    Show Saved Properties
</button>

<div class="results-container">
    <section id="ui-results">
        <h2>Results</h2>
        <p>Select "add property" to move the property to your saved collection</p>
    </section>

    <section id="ui-saved" class="saved">
        <button type="button" id="ui-close-saved" class="close mobile-only" aria-label="Close saved properties popup">
            x
        </button>
        <h2>Saved Properties</h2>
        <p>Your collection of saved properties</p>
    </section>
</div>

