<div class="results-container">

    <section>
        <span class="header">Results</span>  

        <article class="card" tabindex="0">
            <header style="background-color: #ffe512">
                <image src="http://i1.au.reastatic.net/agencylogo/XRWXMT/12/20120927204448.gif">
            </header>

            <image src="http://i2.au.reastatic.net/640x480/20bfc8668a30e8cabf045a1cd54814a9042fc715a8be683ba196898333d68cec/main.jpg">
            
            <div class="info">
                <span>$726,500</span>
                <button type="button">Add Property</button>
            </div>
        </article>
    </section>

    <section>
        <span class="header">Saved Properties</span>
    </section>
</div>

