<div class="results-container">

    <section id="ui-results">
        <span class="header">Results</span>  

    </section>

    <section id="ui-saved">
        <span class="header">Saved Properties</span>
    </section>
</div>

