<div class="results-container">
    <section id="ui-results">
        <h2>Results</h2>

        <p id="ui-result-count"></p>
        <br/>
        <p>Select "add property" to move the property to your saved collection.</p>
    </section>

    <section id="ui-saved" class="dark">
        <h2>Saved Properties</h2>
    </section>
</div>

