<html>
    <head>
        <title>Propery Demo</title>
    </head>
    <body>
        <%= yield %>
    </body>

    <script data-main="javascripts/main" src="javascripts/require.js"></script>
    <%# <script src="javascripts/mock-data.js"></script> %>
</html>