article.card {
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

article.card > header, article.card > header > img {
    height: 40px;
}

article.card > img {
    width: 100%;
}

article.card > .info {
    font-size: 1.4em;
    letter-spacing: 0.5px;
    background-color: white;
    height: 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article.card > .info > button {
    font-size: 1.2em;
    text-transform: lowercase;
    color: white;
    background-color: #4fd1d9;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

article.card > .info > button:hover, 
article.card > .info > button:focus {
    background-color: #2FBCC4;
}

article.card > .info > button.remove {
    background-color: #e74c3c;
}

article.card > .info > button.remove:hover, 
article.card > .info > button.remove:focus {
    background-color: #c0392b;
}

article.card:hover > .info > button, 
article.card:focus > .info > button, 
article.card:active > .info > button {
    display: block;
}