article.card {
    width: 100%;
    margin: 40px 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s;
}

article.card:hover,
article.card:focus,
article.card:active {
    transform: scale(1.015);
}

article.card > header {
    height: 40px;
    border-top-right-radius: 4px;
}

article.card > header > img {
    height: 40px;
    border-top-left-radius: 4px;
}

article.card > img {
    width: 100%;
}

article.card > .info {
    font-size: 1.4em;
    letter-spacing: 0.5px;
    background-color: white;
    height: 80px;
    padding: 0 20px;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article.card > .info > button {
    font-size: 1.2em;
    text-transform: lowercase;
    color: white;
    background-color: #4fd1d9;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

    display: none;
}

article.card > .info > button:hover, 
article.card > .info > button:focus {
    background-color: #2FBCC4;
}

article.card > .info > button.remove {
    background-color: #e74c3c;
}

article.card > .info > button.remove:hover, 
article.card > .info > button.remove:focus {
    background-color: #c0392b;
}

article.card:hover > .info > button, 
article.card:focus > .info > button, 
article.card:active > .info > button {
    display: block;
}