@media (min-width: 769px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 0 20px;
    }
    
    nav > .ham {
        display: inline;
    }

    nav > a:not(.stay) {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .results-container {
        flex-direction: column;
    }

    .results-container > section.saved {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        width: 80%;
        margin: 20px 0;
        height: calc(100vh - 40px);
        overflow: auto;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
        display: none;
    }

    .results-container > section.saved.show {
        display: block;
    }

    article.card > .info > button {
        display: block;
    }
}