@media (min-width: 769px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 0 20px;
    }
    
    nav > .ham {
        display: inline;
    }

    nav > a:not(.stay) {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .results-container {
        flex-direction: column;
    }

    .results-container > section.saved {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100vh;
        overflow: auto;
        display: none;
    }

    .results-container > section.saved.show {
        display: block;
    }

    article.card > .info > button {
        display: block;
    }
}